services:

  db:
    image: postgres:latest
    restart: always
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    ports:
      - "5332:5432"

volumes:
  db-data: