spring:
  application:
    name: MacCourseRatingsBackend
  datasource:
    url: jdbc:postgresql://localhost:5332/courseratings
    password: ${POSTGRES_PASSWORD}
    username: ${POSTGRES_USER}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true